.SelectButton{
    color: rgb(27, 163, 95);
    font-weight: 300;
	box-shadow: rgba(120, 240, 180, 0.5) 0 0px 0px 0.5px inset;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(230, 230, 230);

    padding: 10px 50px;

    transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.SelectButton:hover{
    color: rgb(14, 71, 43);
	box-shadow: rgba(120, 240, 180, 0.5) 0 0px 0px 40px inset;
    cursor: pointer;
}